@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(20, 20, 20);
  max-width: 60%;
  margin: 3rem auto;
  color: white;
}

.btn-genre,
.btn-others {
  background-color: rgb(133, 36, 168);
  padding: 0 8px;
  border-radius: 9999px;
  width: auto;
  max-width: fit-content;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-others {
  background-color: rgb(30, 30, 30);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #27272a;
  border-radius: 4px;
}

body::-webkit-scrollbar-track {
  background-color: #181818;
}

@media (max-width: 1024px) {
  :root {
    max-width: 65%;
  }
}

@media (max-width: 425px) {
  :root {
    max-width: 80%;
  }
}
